Repository skbkontur/Playwright.Net.Core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_pom_abstractions, build_pw_core, set_tag_pom_version, set_tag_PW_core_version

.gitlab-ci.yml:

include:
  - project: $CI_CONFIG_PROJECT
    ref: $CI_CONFIG_BRANCH
    file: 'templates/playwright_net.yml'
  - project: $CI_CONFIG_PROJECT
    ref: $CI_CONFIG_BRANCH
    file: 'templates/sync_to_github.yml'

stages:
  - build
  - deploy

variables:
  POM_VERSION: 1.0.0
  POM_DIR: "POM.Abstractions"
  POM_PROJ: "SkbKontur.Playwright.POM.Abstractions"
  PW_CORE_VERSION: 0.0.4
  PW_CORE_DIR: "Playwright.TestCore"
  PW_CORE_PROJ: "SkbKontur.Playwright.TestCore"

build_pom_abstractions:
  variables:
    VERSION: ${POM_VERSION}
    PROJECT_DIR: ${POM_DIR}
    PROJECT_NAME: ${POM_PROJ}
  stage: build
  extends: [ .package_version, .dotnet_build ]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "master"
      changes:
        - ${POM_DIR}/**/*
      when: on_success
    - changes:
        - ${POM_DIR}/**/*
      when: manual
    - when: never

build_pw_core:
  variables:
    VERSION: ${PW_CORE_VERSION}
    PROJECT_DIR: ${PW_CORE_DIR}
    PROJECT_NAME: ${PW_CORE_PROJ}
  stage: build
  extends: [ .package_version, .dotnet_build ]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH == "master"
      changes:
        - ${PW_CORE_DIR}/**/*
      when: on_success
    - changes:
        - ${PW_CORE_DIR}/**/*
      when: manual
    - when: never

publish_pom_abstractions:
  variables:
    PROJECT_DIR: ${POM_DIR}
    PROJECT_NAME: ${POM_PROJ}
    VERSION: ${POM_VERSION}
    NUGET_ORG_API_KEY: ${NUGET_PW_API_KEY}
  stage: deploy
  extends: [ .package_version, .dotnet_nuget_publish ]
  dependencies:
    - build_pom_abstractions
  needs: 
    - build_pom_abstractions
  rules:
    - changes:
        - ${POM_DIR}/**/*
      when: manual
    - when: never

publish_pw_core:
  variables:
    PROJECT_DIR: ${PW_CORE_DIR}
    PROJECT_NAME: ${PW_CORE_PROJ}
    VERSION: ${PW_CORE_VERSION}
    NUGET_ORG_API_KEY: ${NUGET_PW_API_KEY}
  stage: deploy
  when: manual
  extends: [ .package_version, .dotnet_nuget_publish ]
  dependencies:
    - build_pw_core  
  needs:
    - build_pw_core
  rules:
    - changes:
        - ${PW_CORE_DIR}/**/*
      when: manual
    - when: never

set_tag_pom_version:
  variables:
    PROJECT_NAME: ${POM_PROJ}
    PACKAGE_VERSION: ${POM_VERSION}
  extends: [.tag_version]
  stage: deploy
  needs:
    - publish_pom_abstractions
  rules: 
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - ${POM_DIR}/**/*
    - when: never
  
set_tag_PW_core_version:
  variables:
    PROJECT_NAME: ${PW_CORE_PROJ}
    PACKAGE_VERSION: ${PW_CORE_VERSION}
  extends: [.tag_version]
  stage: deploy
  needs:
    - publish_pw_core
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - ${PW_CORE_DIR}/**/*
    - when: never

sync_github:
  stage: deploy
  when: manual
  extends: [ .sync_to_github ]

Обновил README.md
  README.md
Due: none

Переместил настройки DI в либу. Поправил ридми
  Playwright.TestCore/Dependencies/DependencyFactory.cs
  Playwright.TestCore/NavigationFactory.cs
  Playwright.TestCore/ServiceCollectionExtensions.cs
  Playwright.TestCore/SkbKontur.Playwright.TestCore.csproj
  README.md
  Tests/Infra/ServiceCollectionExtensions.cs
Due: build_pw_core, set_tag_PW_core_version

PW_CORE_VERSION: 0.0.5 и POM_VERSION: 1.0.1
  .gitlab-ci.yml
  Directory.Packages.props
Due: none

Добавил IPageFactory и IControlFactory
  .gitlab-ci.yml
  POM.Abstractions/IControlFactory.cs
  POM.Abstractions/IPageFactory.cs
Due: build_pom_abstractions, set_tag_pom_version

Update factory
  .gitignore
  .gitlab-ci.yml
  Directory.Packages.props
  Playwright.TestCore/Auth/AuthWithCacheStrategy.cs
  Playwright.TestCore/Auth/IAuthenticator.cs
  Playwright.TestCore/Auth/WithoutAuthAuthenticator.cs
  Playwright.TestCore/Collections/ElementsCollection.cs
  Playwright.TestCore/Collections/ElementsCollectionExtensions.cs
  Playwright.TestCore/Factories/IControlFactory.cs
  Playwright.TestCore/Factories/IPageFactory.cs
  Playwright.TestCore/Factories/PageObjectsFactory.cs
  Playwright.TestCore/Pages/Navigation.cs
  Playwright.TestCore/ServiceCollectionExtensions.cs
  README.md
  Tests/Infra/ServiceCollectionExtensions.cs
  Tests/POM/Controls/ControlBase.cs
  Tests/POM/Controls/Header.cs
  Tests/POM/Controls/Logo.cs
  Tests/POM/Pages/KonturPage.cs
  Tests/POM/Pages/PageBase.cs
  Tests/RunPwShould.cs
Due: build_pw_core, set_tag_PW_core_version

Минорные фиксы. Трассировка и навигация
  .gitignore
  .gitlab-ci.yml
  Playwright.TestCore/Browsers/DefaultBrowserGetter.cs
  Playwright.TestCore/Browsers/LocalStorage.cs
  Playwright.TestCore/Pages/Navigation.cs
Due: build_pw_core, set_tag_PW_core_version

Добавил возможность конфигурирования контекста. Улучшил удобство кастомизаций
  .gitlab-ci.yml
  Directory.Packages.props
  Playwright.TestCore/Auth/AuthWithCacheStrategy.cs
  Playwright.TestCore/Auth/IAuthStrategy.cs
  Playwright.TestCore/Auth/WithoutAuthStrategy.cs
  Playwright.TestCore/Browsers/DefaultBrowserProvider.cs
  Playwright.TestCore/Configurations/EmptyTestInfoProvider.cs
  Playwright.TestCore/Configurations/HeadlessConfigurator.cs
  Playwright.TestCore/Configurations/IContextOptionsUpdater.cs
  Playwright.TestCore/Configurations/ViewportSizeUpdater.cs
  Playwright.TestCore/Factories/BrowserFactoryBase.cs
  Playwright.TestCore/Factories/ChromeFactory.cs
  Playwright.TestCore/Factories/FirefoxFactory.cs
  Playwright.TestCore/Pages/PageProvider.cs
  Playwright.TestCore/ServiceCollectionExtensions.cs
  README.md
  Tests/Infra/NUnitTestInfoProvider.cs
  Tests/Infra/ServiceCollectionExtensions.cs
Due: build_pw_core, set_tag_PW_core_version

Обновил ридми
  README.md
Due: none

hotfix. пропущеный await
  .gitlab-ci.yml
  Playwright.TestCore/Factories/BrowserFactoryBase.cs
Due: build_pw_core, set_tag_PW_core_version

fixNRE from WithoutAuthStrategy
  .gitlab-ci.yml
  Playwright.TestCore/Auth/WithoutAuthStrategy.cs
Due: build_pw_core, set_tag_PW_core_version

Добавил абстракцию для кликов
  .gitlab-ci.yml
  POM.Abstractions/IClickable.cs
Due: build_pom_abstractions, set_tag_pom_version

Обновил зависимость от POM Добавил тест и доку.
  .gitlab-ci.yml
  Directory.Packages.props
  Playwright.TestCore/Browsers/LocalStorage.cs
  Playwright.TestCore/Pages/Navigation.cs
  Playwright.TestCore/ServiceCollectionExtensions.cs
  Tests/RunPwShould.cs
Due: build_pw_core, set_tag_PW_core_version

Обработка ошибки DisposeAsync для случаев, когда браузер не открылся
  .gitlab-ci.yml
  Playwright.TestCore/Browsers/DefaultBrowserProvider.cs
  Playwright.TestCore/Pages/PageProvider.cs
Due: build_pw_core, set_tag_PW_core_version

Добавил слой провайдера браузера и фабрику. Убрал лишнее
  Directory.Packages.props
  Playwright.TestCore/Auth/AuthWithCacheStrategy.cs
  Playwright.TestCore/Browsers/DefaultBrowserContextProvider.cs
  Playwright.TestCore/Browsers/IBrowserContextGetter.cs
  Playwright.TestCore/Browsers/LocalStorage.cs
  Playwright.TestCore/Configurations/DataTidConfiguration.cs
  Playwright.TestCore/Configurations/DefaultPlaywrightConfiguration.cs
  Playwright.TestCore/Configurations/DefaultTracingConfigurator.cs
  Playwright.TestCore/Configurations/EmptyTestInfoProvider.cs
  Playwright.TestCore/Configurations/FixtureTracingConfigurator.cs
  Playwright.TestCore/Configurations/ITestInfoGetter.cs
  Playwright.TestCore/Factories/ChromeFactory.cs
  Playwright.TestCore/Factories/DefaultBrowserContextFactory.cs
  Playwright.TestCore/Factories/IBrowserContextFactory.cs
  Playwright.TestCore/Factories/IBrowserFactory.cs
  Playwright.TestCore/Factories/IBrowserGetter.cs
  Playwright.TestCore/Factories/IPlaywrightGetter.cs
  Playwright.TestCore/Factories/PersistentChromeContextFactory.cs
  Playwright.TestCore/Factories/PersistentFirefoxContextFactory.cs
  Playwright.TestCore/Factories/PersistentWebkitContextFactory.cs
  Playwright.TestCore/Factories/PlaywrightProvider.cs
  Playwright.TestCore/Factories/SingletonBrowserProvider.cs
  Playwright.TestCore/Factories/TransientBrowserProvider.cs
  Playwright.TestCore/Factories/WebkitFactory.cs
  Playwright.TestCore/Pages/Navigation.cs
  Playwright.TestCore/Pages/PageProvider.cs
  Playwright.TestCore/ServiceCollectionExtensions.cs
  Tests/Infra/NUnitTestInfoProvider.cs
  Tests/Infra/ServiceCollectionExtensions.cs
  Tests/RunPwShould.cs
Due: build_pw_core, set_tag_PW_core_version

Добавил возможность удобного расширения закрытия странциц. Например для сохранения скриншотов.Добавил варианты записи трассировок (всегда\при падении)
  Playwright.TestCore/Browsers/ContextTracing.cs
  Playwright.TestCore/Browsers/FullTracing.cs
  Playwright.TestCore/Browsers/IBrowserGetter.cs
  Playwright.TestCore/Browsers/IFailureTestResult.cs
  Playwright.TestCore/Browsers/SingletonBrowserProvider.cs
  Playwright.TestCore/Browsers/TransientBrowserProvider.cs
  Playwright.TestCore/Factories/DefaultBrowserContextFactory.cs
  Playwright.TestCore/IPlaywrightGetter.cs
  Playwright.TestCore/Pages/IBeforeDisposePageActions.cs
  Playwright.TestCore/Pages/NoActions.cs
  Playwright.TestCore/Pages/PageProvider.cs
  Playwright.TestCore/PlaywrightProvider.cs
  Playwright.TestCore/ServiceCollectionExtensions.cs
Due: build_pw_core, set_tag_PW_core_version

Документация и фиксация изменений
  .gitlab-ci.yml
  CHANGELOG.md
  Playwright.TestCore/Browsers/FullTracing.cs
  Playwright.TestCore/Browsers/IBrowserGetter.cs
  Playwright.TestCore/Browsers/IFailureTestResult.cs
  Playwright.TestCore/Browsers/SingletonBrowserProvider.cs
  Playwright.TestCore/Browsers/TransientBrowserProvider.cs
  Playwright.TestCore/Configurations/DefaultTracingConfigurator.cs
  Playwright.TestCore/Factories/ChromeFactory.cs
  Playwright.TestCore/Factories/DefaultBrowserContextFactory.cs
  Playwright.TestCore/Factories/FirefoxFactory.cs
  Playwright.TestCore/Factories/IBrowserFactory.cs
  Playwright.TestCore/Factories/PersistentChromeContextFactory.cs
  Playwright.TestCore/Factories/PersistentFirefoxContextFactory.cs
  Playwright.TestCore/Factories/PersistentWebkitContextFactory.cs
  Playwright.TestCore/Factories/WebkitFactory.cs
  Playwright.TestCore/Pages/IBeforeDisposePageActions.cs
  Playwright.TestCore/Pages/NoActions.cs
  Playwright.TestCore/Pages/PageProvider.cs
  Playwright.TestCore/PlaywrightProvider.cs
  Playwright.TestCore/ServiceCollectionExtensions.cs
  README.md
Due: build_pw_core, set_tag_PW_core_version

Добавил отключение трассировки для удобства
  .gitlab-ci.yml
  Playwright.TestCore/Configurations/NoTracing.cs
  Playwright.TestCore/ServiceCollectionExtensions.cs
  Tests/RunPwShould.cs
Due: build_pw_core, set_tag_PW_core_version
